{{ define "admin.profile.layout" }}
    {{ template "admin.navbar" . }}
    {{ template "admin.profile.content" . }}
    {{ template "admin.footer" . }}
{{ end }}

{{ define "admin.profile.content"}}

    <section>
        {{ range . }}
        <section id="about" class="home-section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="wow bounceInUp" data-wow-delay="0.2s">
                            <div class="team boxed-grey">
                                <div class="inner">
                                    <div class="avatar"><img src="../assets/img/{{ .Image }}" alt="" class="img-responsive img-circle" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="wow bounceInUp" data-wow-delay="0.2s">
                                    <div class="team boxed-grey">
                                        <div class="inner">
                                            <table>
                                                <thead><h1>Admin Profile</h1></thead>
                                                <tbody>
                                                <tr>
                                                    <td>User Name : {{ .UserName }}</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>First Name : {{ .FirstName }}</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Last Name : {{ .LastName }}</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>ID  : {{ .ID }}</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Email : {{ .Email }}</td>
                                                    <td></td>
                                                </tr>
                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>

            {{ end }}
    </section>



{{ end }}