{{ define "student.course.layout" }}
    {{ template "student.navbar" . }}
    {{ template "student.course.content" . }}
    {{ template "student.footer" . }}
{{ end }}
{{ define "student.course.content"}}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Courses</h2>
    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">CourseName</th>
            <th scope="col">CourseID</th>
            <th scope="col">Grade</th>



          </tr>
        </thead>
        <tbody>
            {{ range . }}
          <tr>
            <td> {{ .CourseName }} </td>
            <td> {{ .CourseID }} </td>
              <td> {{ .Grade }} </td>



          </tr>
          {{ end }}
          </tbody>
          </table>
</main>
{{ end }}