{{ define "student.attendance.layout" }}
    {{ template "student.navbar" . }}
    {{ template "student.attendance.content" . }}
    {{ template "student.footer" . }}
{{ end }}
{{ define "student.attendance.content"}}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Attendance</h2>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                
                <th scope="col">Date</th>
                <th scope="col">StudentID</th>
               




            </tr>
            </thead>
            <tbody>
            {{ range . }}
                <tr>
                    <td> {{ .Date }} </td>
                    <td> {{ .StudentID }} </td>

                  




                </tr>
            {{ end }}
            </tbody>
        </table>
    </main>
{{ end }}