{{ define "student.assessment.layout" }}
    {{ template "student.navbar" . }}
    {{ template "student.assessment.content" . }}
    {{ template "student.footer" . }}
{{ end }}
{{ define "student.assessment.content"}}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>Courses</h2>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                
                <th scope="col">StudentID</th>
                <th scope="col">SubjectID</th>
                <th scope="col">Grade</th>
                <th scope="col">Total Mark</th>




            </tr>
            </thead>
            <tbody>
            {{ range . }}
                <tr>
                    <td> {{ .StudentID }} </td>
                    <td> {{ .SubjectID }} </td>
                    <td> {{ .Grade }} </td>
                    <td> {{ .Value }} </td>




                </tr>
            {{ end }}
            </tbody>
        </table>
    </main>
{{ end }}