{{ define "teacher.footer" }}
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="wow shake" data-wow-delay="0.4s">
            <div class="page-scroll marginbot-30">
              <a href="#intro" id="totop" class="btn btn-circle">
							<i class="fa fa-angle-double-up animated"></i>
						</a>
            </div>
          </div>
          <p>&copy;School Portal. All rights reserved.</p>
          <div class="credits">
           
            Designed by <a href="#">Cassiopia Project Team</a>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/jquery.easing.min.js"></script>
  <script src="../assets/js/jquery.scrollTo.js"></script>
  <script src="../assets/js/wow.min.js"></script>
 
  <script src="../assets/js/custom.js"></script>
  <script src="../assets/contactform/contactform.js"></script>

</body>

</html>
{{ end }}